.cPrimary {
    .setColor(@color-primary, @editable-lighten, @important)
}

.cSuccess {
    .setColor(@color-success, @editable-lighten, @important)
}

.cInfo {
    .setColor(@color-info, @editable-lighten, @important)
}

.cDanger {
    .setColor(@color-danger, @editable-lighten, @important)
}

.cWarning {
    .setColor(@color-warning, @editable-lighten, @important)
}

.cLink {
    .setColor(@color-link, @editable-lighten, @important)
}