#YBCalendarDay {
    position: relative;
    float: left;
    width: 14%;
    height: 200px;
    border: 1px solid #d6d6d6;
}

.YBWeekName {
    position: relative;
    float: left;
    width: 14%;
    height: 20px; 
}

#YBMonthFilter {
    //width: 100%;
    //margin-left: 40%;
    //margin-right: 60%;
    //overflow: hidden;
}

.YBCalendarDayCellDate, .YBCalendarDayCellTasks {
    text-align: right;
    margin-right: 5px;
}

.YBCalendarDayCellTasks {
    margin-top: 10px;
    margin-right: 15px;
}

.YBCalendarDayCellNewTask {
    //opacity: 0;
    //display: none;
    padding: 0 15px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 12px;
    width: 100%;
}

.YBCalendarDayColored {
    background-color: white;
}

.YBCustomFilterForm {
    position: absolute;
    right: 5px;
    z-index: 10;
}

.YBCalendarFilters {
    width: 100%;
    overflow: hidden;   
}

.YBCalendarFiltersWeeks {
    width: 50%;
    position:relative;
    float: left;
}

.YBCalendarFiltersMonth {
    width: 50%;
    position:relative;
    float: left;
}

@media (max-width: 600px) {
    .YBCalendarFiltersWeeks {
        width: 100%;

    }

    .YBCalendarFiltersMonth {
        width: 100%;

    }
}

.YBCalendarWeekFilter {
    
}

.YBCalendarWeekPreButton {
    position: relative;
    float: left; 
}

.YBCalendarWeekSelect {
    position: relative;
    float: left;
}

.YBCalendarWeekInfo {
    position: relative;
    float: left;
    margin-top: 18px;
    margin-right: 10px;
}

.YBCalendarWeekNextButton {
    position: relative;
    float: left;
}
