.YBCustomFilterForm {
    width: 40%;
    float: right;
}

.YBCustomFilterSelector{
    float:right;
    position:relative;
    width: 80%;
}

.YBCustomFilterNew{
    float:right;
    position:relative;
    width: 10%;
    //color: #66941A;
}

.YBCustomFilterEdit{
    float:left;
    position:relative;
    width: 10%;
}

.YBCustomFilterForm + .YBFilterFormElment {
    margin-top: 45px;
}